html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", "Roboto", sans-serif;
}

.li.chat-left,
.li.chat-right {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: 40px;
}

li.chat-right {
  justify-content: flex-end;
  width: 70%;
  color: #fff;
  margin-right: 1rem;
}

li .chat-text {
  padding: 0.4rem 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  font-weight: 300;
  line-height: 150%;
  position: relative;
}

li .chat-text:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 10px;
  left: -20px;
  border: 10px solid;
  border-color: transparent #ffffff transparent transparent;
}

li.chat-right > .chat-text {
  text-align: right;

  background-color: #4c5aa1;
}

li.chat-right > .chat-text::before {
  right: 0px;
  border-color: transparent #4c5aa1 transparent transparent;
  left: inherit;
  top: 42px;
}

li.chat-left {
  align-self: flex-start;
  width: "70%";
  color: "black";
  display: flex;
  align-items: center;
  gap: 1rem;
}

li.chat-left > .chat-text {
  text-align: left;
  background-color: #ecf1fb;
  width: 70%;
}

li.chat-left > .chat-text:before {
  border-color: transparent transparent transparent #ecf1fb;
  top: 44px;
  left: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  height: 15rem;
  overflow-y: scroll;
}
.chat-right {
  align-self: flex-end;
}
.avatar-icon {
  height: 25px;
  width: 25px;
  background-color: #4c5aa1;
  border-radius: 50%;
  display: block;
}

.powered-by-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.powered-by-image {
  height: 15px;
  width: auto;
}
.powered-by {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  color: #6f7177;
}

@media screen and (max-width: 640px) {
  .chats-container-top {
    position: fixed;
    margin: auto;
    bottom: 25vh;

    width: 90%;
    height: 60vh;
  }
}

/* -------------chat bubble animations----------- */

.chat-bubble {
  background-color: #4c5aa1;
  padding: 16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-right-radius: 2px;
  display: inline-block;
  align-self: flex-end;
  width: 90px;
  margin-right: 1rem;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: #fff;
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    /* background-color: #6cad96; */
  }
  28% {
    transform: translateY(-7px);
    /* background-color: #9ecab9; */
  }
  44% {
    transform: translateY(0px);
    /* background-color: #b5d9cb; */
  }
}
